.Console {
    background-color: #272822;
    min-height: 100%;
    width: 100%;
    font-family: 'consolas';
    font-size: 17px;
    padding: 5px;
    box-sizing: border-box;
    color: #BFBFBF;
    word-wrap: break-word;
}
